{% load static %}
<html>
    <head>
        <title>Coronavirus Risk Calculator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/calc.css' %}">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140486886-2"></script>
		<script>
  		window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'UA-140486886-2');
		</script>

    </head>
    <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">TheLatest.Live</a>
    <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'calc_risk' %}">Risk Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vaccine' %}">Vaccines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'treatment' %}">Treatments</a>
        </li>
      </ul>
    </div>
  </nav> 
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
    <br/>
    <hr/>
    <image src="{% static 'images/footer.png' %}"/>
    <br/>
    
</html>