{% extends "calc/base.html" %}

 {% block content %}
 
    <div class="page-header">
            <h4>Vaccine Updates</h4>
    </div>
<h4>***Moderna Says It Will Soon Test Vaccine On Children Ages 12-17</h4>
<table class="vac-tbl">
<tr><th>Company</th><th>Name</th><th>Preclinical Trials</th>
   <th>Phase 1</th><th>Phase 2</th><th>Phase 3</th><th>Approval</th></tr>

<tr><td>Pfizer-BioNTech</td><td>BNT162b2</td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6">Emergency Use in USA</td>
	</tr>
<tr><td>Moderna</td><td>mRNA-1273</td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6">Emergency Use in USA</td>
	</tr>
<tr><td>Oxford-AstraZeneca</td><td>AZD1222</td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6">Emergency Use in Britain</td>
	</tr>
<tr><td>Johnson & Johnson</td><td>Ad26.COV2.S</td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6"><div class="pbar" pval="100%"></div></td>
	<td class="p6"><div class="pbar" pval="50%"></div></td>
	<td class="p6"></td>
	</tr>
<tr><td>Inovioa</td><td>INO-4800</td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="50%"></td>
	<td class="p6"></td>
	<td class="p6"></td></tr>
<tr><td>Sanofi</td><td>mRNA-1273</td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="50%"></td>
	<td class="p6"></td>
	<td class="p6"></td></tr>
<tr><td>CanSino Biologics</td><td>Ad5-nCoV</td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6">Emergency Use in China</td></tr>
<tr><td>Arcturus Therapeutics</td><td>ARCT-021</td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="50%"></td>
	<td class="p6"></td>
	<td class="p6"></td></tr>
<tr><td>CureVac</td><td>CVnCoV</td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="50%"></td>
	<td class="p6"></td></tr>
<tr><td>Novavax</td><td>NVX-CoV2373</td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="100%"></td>
	<td class="p6"><div class="pbar" pval="50%"></td>
	<td class="p6"></td></tr>
</table>

<br/>

<table class="vac-tbl">
<tr><th></th><th colspan="3">Clinical Trials</th></tr>
<tr><td>Preclinical Trials</td><td>Phase 1</td><td>Phase 2</td><td>Phase 3</td></tr>
<tr><td>A study to test a drug or device in animals. The aim of a preclinical study is
to collect data in support of the safety of the new treatment. Preclinical studies are
required before clinical trials in humans can be started.</td>
<td>This phase of the clinical
trial assesses the safety of a drug or device using 20-100 volunteers. It is designed to determine
the effects of the drug or device on humans. This phase also investigates the side effects
that occur as dosage levels are increased.</td>
<td>This phase studies test the efficacy of a
drug or device using 100-300 people. There are randomized trials where one group of patients
receives the experimental drug, while a second "control" group receives a standard treatment
or placebo. It determines the time it takes for the drug or device to become effective and
how effective. </td>
<td>This phase studies involve randomized and blind testing in several hundred to several
thousand patients. In this phase the drug is compared to standard treatments and further
information is collected about safety and side effects.</td><tr>

</table>

 <script type='text/javascript'>
    $(document).ready(function(){
       $( ".pbar" ).each(function() {
          $(this).css('width', $(this).attr('pval'));
       });
    });
</script>

   
 {% endblock %}